* {
    box-sizing: border-box;
    --white:#EEEBE5;
    
}

body {
    background-image: url("imgs/The-Office-Michael-Scotts-Background-for-Zoom-Teams-Meet-720.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0; 
    /* margin: 0 will get rid of the scrollbar that appears */
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    
}

.container {
    
    display: flex;
    flex-direction: row;
   

    position: relative;
    background-color:  var(--white);
    padding: 1rem;
    border-radius: 0.5rem;
    width: 700px;
    max-width: 90%;
    
}

@keyframes flashingCaret {
    50% {
      opacity: 0;
    }
}


#caret {
    /* background-color: #3c5992; */
    background-color: #5278c3;
    opacity: 70%;
    height: 25px;
    width: 0.7em;
    border-radius: 2px;
    animation: flashingCaret 1.3s linear infinite;
    /* display: block; */
    /* top: 58px; */
    z-index: 2;
    position: absolute;
    margin: 0;
    padding: 0;
    /* left: calc(2rem + 2px); */
    /* transform-origin: top left; */
    
    /* right: 250px; */

    /* MOST RECENT CHANGES */
    /* margin: 0;
    /* padding: 0; */ 
    /* transition: left 0.1s ease-in-out;  */ /*Latest remove—idk why i even added it*/

}

.quote-input {
    position: absolute;
    margin: 0 auto;
    display: block;
    padding: 0;
    resize: none;
    border: 2px solid black;
    opacity: 30%;
    cursor: default;
    z-index: -1;
    font-size: 1rem;
    pointer-events: none;
    opacity: 0;
    font-family: "Courier Prime";
    background-color: transparent;
    /* border: 2px solid #afaca6; */
    outline: none;
    width: 150px;
    height: 2rem;
    border-radius: 0.5rem;
}

.quote-input:focus {
    border-color: #000000;
}

.quote-display {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
    margin-left: calc(1rem + 2px);
    /* the 1rem is the padding in .quote-input
    and we also want to add the border also from .quote-input*/
    margin-right: calc(1rem + 2px);
    font-size: 1.3rem;
}

.correct {
    color: rgb(61, 138, 61);
}

.incorrect {
    color: rgb(197, 70, 70);
    text-decoration: underline;
}

.word {
    font-size: 23px;
    font-family: "Roboto Mono", monospace;
    margin: 0.15em;
}

.dashboard {
    display: flex;
    background-color: black;
    border-radius: 15px;
    /* background-position: center; */
    /* background-color: black; */
    flex-direction: row;
    height: 80px;
    width: 70vw;
    border: 1px solid white;
    margin-bottom:30px;
    color: var(--white);
    font-size: 2.3rem;

}

.dashboard > * {
    padding: 25px 25px 25px 25px;
    font-size: 30px;
    text-align: center;
    justify-content: center;
    align-content: center;
    /* padding: ; */
}

#office-logo {
    /* position:relative; */
    /* height: 90px; */
    /* right: 0; */
    /* width: 100px; */
    /* display: flex;
    flex-direction: row; */
    margin: 0;
    padding: 0;
    float: right;
    margin-left: auto;
    justify-content: center;
    align-content: center;

    /* margin-left: 650px; */
}


#office-logo img {
    height: 70px;
    margin: auto;
    padding: 0;
    margin-top: 5px;
}

.timer .average-wpm {
    margin-top: 60px;
    width: 140px;
}


/* FONT CODE */
.courier-prime-regular {
    font-family: "Courier Prime", monospace;
    font-weight: 400;
    font-style: normal;
}

.courier-prime-bold {
    font-family: "Courier Prime", monospace;
    font-weight: 700;
    font-style: normal;
}

.courier-prime-regular-italic {
    font-family: "Courier Prime", monospace;
    font-weight: 400;
    font-style: italic;
}

.courier-prime-bold-italic {
    font-family: "Courier Prime", monospace;
    font-weight: 700;
    font-style: italic;
}


.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.roboto-mono {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}